/* ========================= */
/* SECCIÓN: Contenido Principal */
/* ========================= */

.main-content {
  padding: 5rem 2rem;
  transition: opacity 1s ease;
}

@media (min-width: 768px) {
  .main-content {
    padding: 8rem 4rem;
  }
}

.contenido-principal {
  margin-top: 4rem;
}
