/* =================== */
/* FOOTER              */
/* =================== */

.footer {
  background-color: var(--sombra);
  color: var(--gris);
  text-align: center;
  padding: 4rem 2rem;
  margin-top: 5rem;
}

/* 

/css/layout/footer.css
<link rel="stylesheet" href="css/layout/footer.css">

*/