/* ============================== */
/* RESET DE ESTILOS BÁSICOS      */
/* ============================== */
/* Elimina márgenes y padding por defecto, y configura tamaños relativos */

html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--fuenteParrafos);
  font-size: 1.6rem;
  line-height: 1.6;
  background-color: var(--negro);
  color: var(--gris);
}
/*

/css/base/reset.css
/css/base/variables.css

<!-- Variables y Reset -->
<link rel="stylesheet" href="css/base/variables.css">
<link rel="stylesheet" href="css/base/reset.css"> 

*/

