/* ========================= */
/* SECCIÓN: Sobre Nosotros   */
/* ========================= */

.sobre-nosotros {
  background-color: #0f121a;
  padding: 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(129, 247, 216, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sobre-nosotros:hover {
  transform: scale(1.01);
  box-shadow: 0 0 30px rgba(129, 247, 216, 0.25);
}

.sobre-nosotros img {
  border-radius: 1rem;
  filter: grayscale(20%) contrast(110%);
}

.sobre-nosotros h3 {
  color: var(--primario);
  font-size: 2.6rem;
}

.sobre-nosotros p {
  font-size: 1.8rem;
  color: var(--gris);
}

.centrar-texto h2 {
  font-size: 3.2rem;
  color: var(--blanco);
}

.centrar-texto p {
  font-size: 1.6rem;
  color: var(--gris);
  margin-bottom: 2rem;
}
